.header {
    border-bottom: 1px solid gray;
    width: 100%;
    height: 30px;
}

.shop-contact {
    margin-left: 100px;
}

.shop-contact .fa {
    margin-left: 15px;
}

.header ul {
    margin-top: -25px;
}

.header ul li {
    list-style: none;
    padding: 1px 6px;
    float: left;
    padding-right: 10px;
    border-right: 1px solid gray;
    text-align: center;
}

.container h1 {
    color: blue;
    margin-top: 25px;
}

.container .search-input {
    margin-left: 270px;
    margin-top: -34px;
    border: 2px solid blue;
    border-radius: 60px;
    position: absolute;
    width: 50%;
}

.container .search-input:focus {
    border: 2px solid blue;
}

.container .search-btn {
    position: absolute;
    background: blue;
    width: 120px;
    padding: 10px 10px;
    height: 40px;
    color: white;
    border: none;
    margin-left: 790px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-top: -34px;

}

.container .icon {
    margin-top: -45px;
    margin-left: 920px;
}

.container .icon span {
    margin-left: 10px;
}

.container .navbar {
    width: 55%;
    margin-top: 25px;
    margin-left: 260px;
}

.container .navbar .navlink {
    padding: 13px 3px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.home img {
    height: 350px;
}

.home-img-1 {
    width: 600px;
}

.home-img-2 {
    width: 655px;
}



.container .grid {
    margin-top: 80px;
    display: grid;
    margin-left: 20px;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.container .grid>div {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px 5px;
}

.container .grid>div img {
    width: 150px;
    margin-top: 30px;

}

.container .grid>div p {
    font-size: 0.6rem;
}

.container .grid .price-before {
    text-decoration: line-through;
    color: red;
    font-size: 16px;
}

.container .grid .current-price {
    color: blue;
    font-size: 20px;
}

.new {
    width: 250px;
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 10px 8px;
    margin-top: 40px;
}

.new img {
    width: 150px;

}

.new .btn-addcart {
    margin-left: 20px;
    padding: 9px 12px;
    border: none;
    color: white;
    background: red;

}

.sub-bar {
    position: absolute;
    margin-top: -480px;
    margin-left: 350px;
    width: 63%;
    border-bottom: 1px solid gray;
}

.sub-bar ul li {
    float: left;
    text-align: right;
    list-style: none;
    padding: 10px 20px;
    font-weight: bold;
}

.sub-bar .warning {
    text-decoration: solid;
    text-decoration-color: yellow;
}

.grid-display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: absolute;
    margin-top: -380px;
    margin-left: 270px;
}

.grid-display>div {
    border-right: 1px solid gray;

}

.grid-display>div img {
    width: 80px;
    height: 80px;
}

.text-box {
    background: #000;
    margin-top: -50px;
    margin-left: 50px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}

.navigation {
    border-bottom: 1px solid gray;
}

.navigation a {
    padding: 10px 15px;
    color: black;
    font-size: 16px;
    text-decoration-color: yellow;
}

.navigation ul {
    position: absolute;
    margin-left: 240px;
    margin-top: -33px;
}

.navigation ul li {
    color: gray;
    list-style: none;
    float: left;
    padding: 10px 15px;
    text-align: right;
}

.detail {
    font-size: 0.5rem;
    border-right: 1px solid gray;
}

.detail- {
    font-size: 0.5rem;
}

.detail- .price-before {
    color: red;
    text-decoration: line-through;
}

.detail .price-before {
    color: red;
    text-decoration: line-through;
}

.detail .current-price {
    font-size: 16px;
    margin-top: 20px;
    color: blue;
}

.detail .current-price {
    font-size: 16px;
    margin-top: 20px;
    color: blue;
}

.detail-,
.detail button {
    border: none;
    width: 20px;
    height: 20px;
    color: wh ite;
    background: rgb(208, 207, 207);
    border-radius: 100px;
}

.container-fluid img {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 720px) {
    .header {
        width: 100%;
        font-size: 0.4rem;
    }

    .header .shop-contact {
        margin-left: 50px;
    }

    .container {
        width: 100%;
        font-size: 0.5rem;
    }

    .container ul li {
        display: none;
        margin-left: -220px;
    }

    .container .search-input {
        width: 200px;
        margin-left: 190px;
    }

    .container .search-btn {
        width: 90px;
        margin-left: 360px;
    }

    .container .icon {
        display: none;
    }

    .container .navbar {
        width: 80%;
        margin-left: 90px;

    }

    .home img {
        width: 370px;
    }

    .container .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-display {
        gap: 30px;
        margin-top: 60px;
        margin-left: 60px;
        grid-template-columns: repeat(2, 1fr);
    }

    .sub-bar {
        display: none;
    }

    .grid-display .text-box {
        margin-top: -25px;
        margin-left: -10px;
    }

    .grid-display>div .fa {
        margin-left: -34px;
    }

    .container-fluid {
        margin-top: 900px;
    }

    .container-fluid .navigation {
        margin-left: -200px;
        font-size: 0.5rem;
    }

    .container-fluid .navigation ul li {
        padding: 5px 3px;
    }

}

.recently {
    position: absolute;
    margin-top: 500px;
}

.recently h5 {
    position: absolute;
    border-bottom: 1px solid gray;
    margin-top: -500px;
}

.container-feature {
    position: relative;
    margin-top: 600px;
    width: 100px;
}